<!--Top Bar-->
<app-topbar></app-topbar>
<!--End Top bar-->
<div class="wrapper">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                    </div>
                    <h4 class="page-title">Couple</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                    <img class="avatar-lg rounded-circle shadow-lg bg-success border-success border" src="assets/avatars/cj.jpg" alt="" height="70"  style="border-radius: 50%;">
                        <div class="col-6">							
                            <div class="avatar-lg rounded-circle shadow-lg bg-success border-success border">
                                <!--<i class="	fa fa-user font-22 avatar-title text-white"></i>-->
                                <img src="assets/avatars/ning.png" alt="" height="70"  style="border-radius: 50%;">										
                            </div>									
                        </div>
                        <!--
                        <div class="col-6">
                        
                            <div class="text-right">
                            <!-- 
                                <h3 class="text-dark mt-1"><span data-plugin="counterup">2</span></h3>
                                <p class="text-muted mb-1 text-truncate">Admin</p>
                            </div>
                        </div>
                        -->
                        <p>万能的海苔JB💕Ning宁龄 JB</p>								
                    </div> <!-- end row-->
                    <p class="text-muted mb-1 text-truncate">Couple</p>
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>
    </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- end Footer -->