<!--Top Bar-->
<app-topbar></app-topbar>
<!--End Top bar-->
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
        <div class="wrapper">
            <div class="container-fluid"> 
                <!-- Image -->
                <div class="row">
                    <div class="col-12">
                        <h3>精彩照片</h3>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="password" class="form-control" placeholder="Enter hidden password" aria-label="Enter hidden password">
                            <div class="input-group-append">
                                <button (click)="Unlock(password)" class="btn btn-dark waves-effect waves-light" type="button">Unlock</button>
                            </div>
                        </div><br/>
        
                        <!--
                        <div *ngIf="Unlocked=='unlock'">-->
                    <!--        
                        <div class="row" *ngIf="Unlocked=='unlock'">
                            <div class="col-12 text-center">          
                                <div id="demo" class="carousel slide" data-ride="carousel" >
                                    <ul class="carousel-indicators">
                                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                                        <li data-target="#demo" data-slide-to="1"></li>
                                        <li data-target="#demo" data-slide-to="2"></li>
                                    </ul>
                                    <div class="carousel-inner" >-->
                                        <!--
                                        <div class="carousel-item active">
                                        <img src="assets\images\small\img-1.jpg" alt="Los Angeles" width="75%">
                                        <div class="carousel-caption">
                                        
                                        </div>   
                                        </div>
                                        <div class="carousel-item">
                                        <img src="assets\images\small\img-2.jpg" alt="Chicago" width="75%">
                                        <div class="carousel-caption">
                                        
                                        </div>   
                                        </div>
                                        -->
                                         <!--
                                        <div class="carousel-item active text-center" >
                                        <img  src="assets\images\small\soul0001.jpg" alt="New York" width="100%" >
                                        <div class="carousel-caption">
                                            -->
                                            <!--
                                            <h3>New York</h3>
                                            <p>We love the Big Apple!</p>
                                            -->
                                             <!--
                                        </div>   
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#demo" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    -->

                        <!--Toast测试用-->
                        <!--
                        <div class="d-flex justify-content-end mb-3" style="position: fixed;
                        top: 0;
                        right: 0;
                        margin: .5em;
                        z-index: 1200;">
                        <ngb-toast *ngIf="Birthday1" header="Click my close icon →" [autohide]="false"
                        (hide)="close1()">
                            <ng-template ngbToastHeader>
                                <i class="fa fa-birthday-cake"></i>
                                <strong class="mx-1">Happy Birthday Oh !~</strong>
                            </ng-template>
                            {{BirthdayName1}}, 祝您生日快乐喔。Happy Birthday To U ~ お诞生日おめでとうございます。
                            <img  src="assets\images\Birthday.png" width=100%>
                            </ngb-toast>
                        </div>
                        -->
                        <!--Toast测试用-->
                          
                        <!-- Filter
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center filter-menu">
                                    <a href="javascript: void(0);" class="filter-menu-item active" data-rel="all">All</a>
                                    <a href="javascript: void(0);" class="filter-menu-item" data-rel="web">Web Design</a>
                                    <a href="javascript: void(0);" class="filter-menu-item" data-rel="graphic">Graphic Design</a>
                                    <a href="javascript: void(0);" class="filter-menu-item" data-rel="illustrator">Illustrator</a>
                                    <a href="javascript: void(0);" class="filter-menu-item" data-rel="photography">Photography</a>
                                </div>
                            </div>
                        </div> -->
                        <!-- end row-->
                        <!---->
                        <div class="row filterable-content" *ngIf="Unlocked=='unlock'">
                            <div class="col-sm-6 col-xl-3 filter-item all web photography" *ngFor="let picturedetails of picturedetail">
                                <div class="gal-box">
                                    <button id="img3" class="btn d-flex justify-content-center" (click)="openScrollableContent(longContent1)" style="border: none;background: none;">
                                        <img src="assets\images\all\{{picturedetails.Img}}" style="max-width: 100%;height: 184px;">
                                        <ng-template #longContent1 let-modal>
                                            <div class="modal-header">
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                                <div class="modal-body">
                                                    <img src="assets\images\all\{{picturedetails.Img}}" width=100%>
                                                </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                            </div>
                                        </ng-template>                                      
                                    </button>
                                    <div class="gall-info">
                                        <h4 class="font-16 mt-0">{{picturedetails.Detail}}</h4>
                                        <a href="javascript: void(0);">
                                            <img src="assets/images/logoM.png" alt="user-img" class="rounded-circle" height="24" />
                                            <span class="text-muted ml-1">Soul_MY</span>
                                        </a>
                                        <a href="javascript: void(0);" class="gal-like-btn"><i class="mdi mdi-heart-outline text-danger"></i></a>
                                    </div> <!-- gallery info -->
                                </div> <!-- end gal-box -->
                            </div> <!-- end col -->
                        </div> 
                        <!--  style="border: none;background: none;"-->
                        <div class="row filterable-content" *ngIf="Unlocked=='unlockall'">
                            <div class="col-sm-6 col-xl-3 filter-item all web photography" *ngFor="let picturedetails1 of picturedetail1">
                                <div class="gal-box">
                                    <button id="img3" class="btn btn-block" (click)="openScrollableContent(longContent1)" >
                                        <img src="assets\images\all\{{picturedetails1.Img}}" style="max-width: 100%;height: 184px;">
                                    </button>
                                        <ng-template #longContent1 let-modal>
                                            <div class="modal-header">
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                                <div class="modal-body">
                                                    <img src="assets\images\all\{{picturedetails1.Img}}" width=100%>
                                                </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                            </div>
                                        </ng-template>                                      
                                    
                                    <div class="gall-info">
                                        <h4 class="font-16 mt-0">{{picturedetails1.Detail}}</h4>
                                        <a href="javascript: void(0);">
                                            <img src="assets/images/logoM.png" alt="user-img" class="rounded-circle" height="24" />
                                            <span class="text-muted ml-1">Soul_MY</span>
                                        </a>
                                        <a href="javascript: void(0);" class="gal-like-btn"><i class="mdi mdi-heart-outline text-danger"></i></a>
                                    </div> <!-- gallery info -->
                                </div> <!-- end gal-box -->
                            </div> <!-- end col -->
                        </div> 

                    </div>
                </div>
                
            </div>
        </div>
<!-- ============================================================== -->
<!-- End Page Content here -->
<!-- ============================================================== -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- end Footer -->