<!--Top Bar-->
<app-topbar></app-topbar>
<!--End Top bar-->
<div class="wrapper">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                    </div>
                    <h4 class="page-title">关于我们</h4>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between bg-secondary mb-3">
            <div class="p-2 "></div>
            <div class="p-2 ">
                <img src="assets/images/logo00.png" class="rounded" width=200px;>
            </div>
            <div class="p-2 "></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box ribbon-box">
                    <div class="ribbon ribbon-dark float-left"><i class="mdi mdi-access-point mr-1"></i> 关于群规💕</div>
                
                    <div class="ribbon-content">
                            欢迎加入我们的大家庭💕<br/><br/>

                            开这个群的意义是希望全部在Soul的马来西亚朋友，能认识全马各地的Soul友😎能一群人开心的互相交流聊天，分享快乐伤心️<br/><br/>

                            为了群能一直长久下去，让大家有个开心的地方聊天🤗<br/><br/>

                            所以希望大家能遵守群规哦<br/><br/>

                            1.<br/>
                            我开这个群不是相亲群，请不要进来就乱加群里的人私聊，我觉得是骚扰会令人不舒服。<br/><br/>

                            2.<br/>
                            如果要私聊请在大群征求对方同意。<br/><br/>

                            3.<br/>
                            如果你们私底下私聊或约出去，发生什么不愉快的事，与本群无关。<br/><br/>

                            4.<br/>
                            不要斗图，我不反对发表情包或图片，但请适可而止，因为会炸群，令其他人感觉信息快要炸了，会觉得厌烦，不能好好聊天。<br/><br/>

                            5.<br/>
                            要退出请通知群主和三位管理员，因为没通知突然又失踪人口，群主会担心<br/>
                            还有不要一直潜水，我知道每个人都有忙的事，但是偶尔冒个泡和群友说早晚安💕这样群里的人就知道你的存在<br/><br/>

                            6.<br/>
                            不要在群里卖广告，不要发过份的色情图片或表情包。<br/><br/>

                            7.<br/>
                            我不反对群里老司机开车，但是开车也不要太露骨，会令其他群友不舒服。也不要在群里吵架。<br/><br/>

                            8.<br/>
                            新人进群，请在名字后面加州或地方名。<br/><br/>

                            9.<br/>
                            如果遇到关于群里的事，可以私聊群主和五位管理员<br/><br/>

                            10.<br/>
                            要加人进群，可以通知群主和三位管理员，确认加入了会通知你。<br/><br/>

                            希望大家会喜欢这个群，令大家有归属感️谢谢你们的加入<br/><br/>

                            群主😎尤泇甯<br/>

                            管理员😎Wilson<br/>

                            管理员😎Cony<br/>

                            管理员😎潜水看戏<br/>

                            管理员😎Katrina<br/>

                            管理员😎颖颖<br/>

                            管理员😎Lilian<br/>
                            
                            <hr/>
                            TO：新人<br/>
                            我們要收集大家在soul的頭像做屬於群的網頁<br/>
                            請大家大方秀出你們的頭像哦 <br/>
                            謝謝<br/>
                            网页：<br/>
                            <a href="https://soulmy0521.github.io/Soul-MY/Home">https://soulmy0521.github.io/Soul-MY/Home</a><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Start -->
<app-footer></app-footer>
<!-- end Footer -->