<!--Top Bar-->
<app-topbar></app-topbar>
<!--End Top bar-->
<div class="wrapper">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                    </div>
                    <h4 class="page-title">匿名留言区 （邮寄您想要留言的内容至“soul21052019@gmail.com”）</h4> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card-box ribbon-box">
                    <div class="ribbon-two ribbon-two-info"><span>31.12.19</span></div>
                    <p class="mb-0"><br/>祝大家2020年还是一样快乐喔！~<br/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-box ribbon-box">
                    <div class="ribbon-two ribbon-two-dark"><span>24.7.19</span></div>
                    <p class="mb-0"><br/>我口才不好，说不出你想听的甜言蜜语；可我说的一言一语都是真心的<br/>
                            我情商不高，猜不出你脑袋里想什么；既然我猜不出，那把一切都给你就行了<br/>
                            我工资不高，给不了你想要的生活； 可我会努力为以后的未来奋斗<br/>
                            我人也不高，你穿高跟鞋就能高过我了；可我会为你撑起一切<br/>
                            现在的我，什么都米有，只有一颗追梦赤子心，朝着未知的未来前进<br/>
                            这样的我，你能接受么<br/>
                            最后只想说，你若不离，我必不弃</p>
                </div>
            </div>            
            <div class="col-lg-4">
                <div class="card-box ribbon-box">
                    <div class="ribbon-two ribbon-two-pink"><span>24.7.19</span></div>
                    <p class="mb-0"><br/>不需要你的甜言蜜语，也不需要多好的口才<br/>
                        不高没关系，能保护好我就行<br/>
                        你想知道什么，我都会告诉你<br/>
                        你现在一无所有，没关系，我愿意陪着你去打拼<br/>
                        只需要你宠我，保护我<br/>
                        你不离，我定不弃<br/>
                        这样你接受吗？</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-box ribbon-box">
                    <div class="ribbon-two ribbon-two-dark"><span>24.7.19</span></div>
                    <p class="mb-0"><br/>
                        保护你不是问题，宠你也不是问题，<br/>
                        抛弃从来就不是我的风格，<br/>
                        可我们之间隔着一片海洋<br/>
                        东马和西马的距离，阻挡了我想靠近你的心，<br/>
                        不想你需要我的时候，<br/>
                        我不能伴你左右，为你遮风挡雨<br/>
                        不想你难过落泪时候，<br/>
                        只能对着视频陪伴，却不能拥你入怀<br/>
                        人们只会说有心，一切都不是问题<br/>
                        可他们从没想过我们所要面对的那些考验与苦<br/>
                        那种孤单寂寞的感受是他们不曾尝试过的，<br/>
                        不忍心让你受到这等折磨委屈，<br/>
                        所以我决定忍痛退出，<br/>
                        让你找到一个不受距离的威胁，<br/>
                        能伴你左右，宠你的人<br/>
                        在那之前我将化为黑暗骑士，<br/>
                        能默默守护着你，我就满足了</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Start -->
<app-footer></app-footer>
<!-- end Footer -->